<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true">
	<extensions>
		<add assembly="NLog.Windows.Forms"/>
		<add assembly="NLog.WPF" />
	</extensions>
  <targets >
    <target name="file" xsi:type="File"
            fileName="logs/${date:format=yyyyMMdd}.log">
            <layout>${longdate} ${level} ${message}</layout>
    </target>	  
  
      <target name="console" xsi:type="Console"
           layout="${longdate} ${level} ${message}"/>

	  <target xsi:type="NLog.WPF" name="ctrl" />
  </targets>
  <rules>
	<logger name="*" minlevel="Debug" writeTo="ctrl" />
    <logger name="*" minlevel="Debug" writeTo="file" />
  </rules>
</nlog>
